{% extends "base.html" %}
{% block title %}Community Events · Community Share{% endblock %}
{% block content %}
<div class="container">
    
  <h1 class="heading">Thank you for being a part of our Community!</h1>

<!-- Format kinda like a feed but shows events, parties, fundraisers hosted, etc.-->
 <section>
    
    <h2>Insert title here</h2>
    <ul style="list-style-type:circle;">
      <li>Add picture above and make post description here</li>
    </ul>
   <a class="btn btn-brand" href="/">Back Home</a>
</div>
{% endblock %}