{% extends "base.html" %}
{% block title %}Guidelines · Community Share{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">Thank you for joining our Community!</h1>

<!--Guidelines for Requesting-->
 <section>
    <h2>Request a Service</h2>
    <ul style="list-style-type:circle;">
      <li>Be clear and specific about what you need.</li>
      <li>Include deadlines and expectations.</li>
      <li>Communicate respectfully.</li>
      <li>Provide feedback after completion.</li>
    </ul>
  </section>

<!-- Guidelines for Offering-->
 <section>
    <h2>For Those Offering a Service</h2>
    <ul style="list-style-type:circle;">
      <li>Be honest about your skills and availability.</li>
      <li>Respond promptly to messages.</li>
      <li>Deliver services as promised.</li>
      <li>Maintain professional communication.</li>
    </ul>
  </section>

<!--FAQs Section-->
 <section>
    <h2>Frequently Asked Questions (FAQ)</h2>
    <h4>How do I request a service?</h4>
    <p>Answer.</p>
    <h4>How do I offer a service?</h4>
    <p>Answer.</p>
  </section>
</div>
{% endblock %}