{% extends "base.html" %}
{% block title %}Offer a Service · Community Share{% endblock %}

{% block content %}
<div class="container">
    
  <h1 class="heading">Thank you for helping our Community!</h1>

<!-- Guidelines for Offering-->
 <section>
    
    <h2>For Those Offering a Service</h2>
    <ul style="list-style-type:circle;">
      <li>Be honest about your skills and availability.</li>
      <li>Respond promptly to messages.</li>
      <li>Deliver services as promised.</li>
      <li>Maintain professional communication.</li>
    </ul>
  </section>
   <h2>Insert Process Here</h2>
   </section>
   <a class="btn btn-brand" href="/">Back Home</a>
</div>
{% endblock %}