{% extends "base.html" %}
{% block title %}Request a Service · Community Share{% endblock %}

{% block content %}
<div class="container">
    
  <h1 class="heading">Everyone Needs a Helping Hand!</h1>

<!--Guidelines for Requesting-->
 <section>
    <h2>Request a Service</h2>
    <ul style="list-style-type:circle;">
      <li>Be clear and specific about what you need.</li>
      <li>Include deadlines and expectations.</li>
      <li>Communicate respectfully.</li>
      <li>Provide feedback after completion.</li>
    </ul>
  </section>
    <h2>Insert Process Here</h2>
    </section>
    <a class="btn btn-brand" href="/">Back Home</a>
</div>
{% endblock %}